.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

@media (min-width: 480px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
