body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.grid_container {
  display: grid;
  background-color: #dddddd;
  height: 900px;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}

.header {
  background-color: #d1beb0;
  grid-column: 1/-1;
  padding: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: lighter bolder;
  font-style: italic;
  border-radius: 15px;
  text-decoration: underline wavy rgb(123, 154, 122) 4px;
  text-decoration-skip-ink: none;
}

.aside {
  display: grid;
  background-color: #c5dac1;
  border-radius: 25px;
  grid-column: 1fr;
  padding: 40px 20px 0px;
}

a {
  text-decoration: none;
  color: #413b3a;
}

.main {
  background-image: url(../images/leave-picture.jpg);
  background-size: cover;
  border-radius: 25px;
}

.footer {
  background-color: #ab9f9d;
  grid-column: 1/-1;
  padding-top: 40px;
  border-radius: 15px;
  text-align: right;
  padding-right: 10px;
  font-style: italic;
}

.flex_container {
  display: flex;
  align-items: stretch;
  gap: 40px;
  flex-flow: column nowrap;
}

#p_grid_main {
  padding-top: 290px;
  padding-left: 335px;
  font-size: 24px;
  text-align: center;
  width: 900px;
  text-wrap: wrap;
  line-height: 2;
  font-style: italic;
  font-weight: 300;
}
