.relative {
  position: relative;
  top: 20px;
  background-color: rgb(178, 242, 221);
  width: 200px;
  height: 500px;
}

div {
  padding: 10px;
  width: 300;
}

.fixed {
  position: fixed;
  top: 70px;
  right: 10px;
  background-color: burlywood;
}

.absolute {
  position: absolute;
  bottom: 30px;
  left: 20px;
  background-color: cornflowerblue;
}

.sticky {
  position: sticky;
  top: 30px;
  right: 10px;
  background-color: coral;
}
